<form *ngIf="form" (ngSubmit)="onSubmit()" [formGroup]="form">
  <mat-vertical-stepper linear="true" *ngIf="steppers.length > 0" #stepper>
      <mat-step *ngFor="let stepper of steppers; let i = index" [stepControl]="form.controls[stepper]">
          <ng-template matStepLabel>{{stepper}}</ng-template>
          <div *ngFor="let question of questions">

              <app-dynamic-form-question *ngIf="question.stepper == stepper" [question]="question" [form]="form.controls[stepper]"></app-dynamic-form-question>

          </div>
          <br>
          <br>

          <div>
              <button mat-button matStepperPrevious *ngIf="i > 0" type="button">Voltar</button>
              <button mat-button matStepperNext type="button">Próximo</button>
          </div>
      </mat-step>

      <mat-step>
          <ng-template matStepLabel>Finalizando...</ng-template>

          <mat-icon color="primary">thumb_up</mat-icon>  Deseja continuar?

          <br>
          <br>

          <div>
              <button mat-button matStepperPrevious type="button">Voltar</button>
              <button mat-button type="button" color="warn" (click)="stepper.reset()">Limpar</button>
              <button mat-button type="submit" color="primary">Salvar</button>
          </div>
      </mat-step>
  </mat-vertical-stepper>

  <div *ngIf="steppers.length <= 0">
    <div *ngFor="let question of questions">

      <app-dynamic-form-question [question]="question" [form]="form"></app-dynamic-form-question>

    </div>

  </div>

</form>
