<form (ngSubmit)="onSubmit()" [formGroup]="form">

    <mat-vertical-stepper [linear]="true" #stepper>
        <div *ngFor="let question of questions; index as i">

                <mat-step *ngIf="(question.key | questionKeyVerify: getValues())" >
                    <ng-template matStepLabel>Etapa {{i + 1}}</ng-template>

                    <app-dinamic-form-question [question]="question" [form]="form"></app-dinamic-form-question>

                    <br>
                    <br>

                    <div>
                        <button *ngIf="i != 0" mat-button matStepperPrevious type="button">Voltar</button>
                        <button mat-button matStepperNext type="button" (click)="question.exec()" >Próximo</button>
                    </div>
                </mat-step>
        </div>

        <mat-step *ngIf="attributes">
            <ng-template matStepLabel>Alguns ajustes</ng-template>

            <br>
            <br>
            
            <div>
                <button mat-button matStepperPrevious type="button">Voltar</button>
                <button mat-button matStepperNext type="button">Próximo</button>
            </div>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>Finalizando...</ng-template>

            <mat-icon color="primary">thumb_up</mat-icon>  Deseja continuar?

            <br>
            <br>
            
            <div>
                <button mat-button matStepperPrevious type="button">Voltar</button>
                <button mat-button type="button" color="warn" (click)="stepper.reset()">Limpar</button>
                <button mat-button type="button" color="primary">Salvar</button>
            </div>
        </mat-step>
    </mat-vertical-stepper>

</form>