<h2 mat-dialog-title>
    <mat-icon color="primary">settings</mat-icon>
    Configurar vendas
</h2>
<mat-dialog-content>

    <mat-expansion-panel>

        <mat-expansion-panel-header>
            
            <mat-panel-title>
                <mat-icon color="primary">list</mat-icon> &nbsp;
                Lista
            </mat-panel-title>
        
              <mat-panel-description>
                BlackList
            </mat-panel-description>

        </mat-expansion-panel-header>
    
        <app-bl-list-order-dialog [listClients]="listClients"></app-bl-list-order-dialog>

    </mat-expansion-panel>

    <mat-expansion-panel>

        <mat-expansion-panel-header>
            
            <mat-panel-title>
                <mat-icon color="primary">add_box</mat-icon> &nbsp;
                Adcionar
            </mat-panel-title>
        
              <mat-panel-description>
                BlackList
            </mat-panel-description>

        </mat-expansion-panel-header>
    
        <app-bl-add-order-dialog [listClients]="listClients"></app-bl-add-order-dialog>

    </mat-expansion-panel>

    <mat-expansion-panel>

        <mat-expansion-panel-header>
            
            <mat-panel-title>
                <mat-icon color="primary">delete</mat-icon> &nbsp;
                Remover
            </mat-panel-title>
        
              <mat-panel-description>
                BlackList
            </mat-panel-description>

        </mat-expansion-panel-header>
    
        <app-bl-rm-order-dialog [listClients]="listClients"></app-bl-rm-order-dialog>

    </mat-expansion-panel>

</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button color="warn" mat-dialog-close>Fechar</button>
</mat-dialog-actions>