<mat-card class="center">
  <mat-form-field class='input_search'>
    <mat-label>Pesquisa de produtos</mat-label>
    <input matInput #iput type="search" (keyup.enter)="searchProduct(iput.value)" placeholder="Ex. Carro">
  </mat-form-field>
  <button mat-icon-button  matTooltip="Pesquisar" aria-label="Pesquisar" (click)="searchProduct(iput.value)" color="primary">
    <mat-icon>search</mat-icon>
  </button>
  <button mat-icon-button  matTooltip="Adicionar filtro" aria-label="Adicionar filtro" (click)="openFilterDialog()" color="primary">
    <mat-icon>filter_alt</mat-icon>
  </button>
</mat-card>

<section *ngIf='results.length > 0'>

  <mat-paginator [length]="totalResults"
    [pageSize]="params.limit"
    [pageSizeOptions]="pageSizeOptions"
    (page)="params.limit = $event.pageSize; params.offset = $event.pageSize * $event.pageIndex; searchProduct(iput.value)">
  </mat-paginator>

  <section *ngFor="let item of results">

    <app-item-view [item]="item"></app-item-view>

  </section>

</section>
<br>
<section *ngIf="results.length <= 0" class="center">
  <section *ngIf="clientList" >
    <h2> <mat-icon color="primary">wysiwyg</mat-icon> Obter notícias de: </h2>
    <mat-form-field>
      <mat-label>Cliente</mat-label>
      <mat-select [(value)]="clientSelected" required>
        <mat-option>--</mat-option>
        <mat-option *ngFor="let client of clientList" [value]="client.user_id">
          {{client.nickname}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </section>

  <br>
    <mat-divider></mat-divider>
  <br>

  <app-user-info *ngIf="clientSelected" class="center" [client_id]="clientSelected"></app-user-info>

</section>
