/* @import '~@angular/material/theming';

@include mat-core();


$app-meli-multi-primary: mat-palette($mat-blue-grey, 500);
$app-meli-multi-accent: mat-palette($mat-yellow, A400);
$app-meli-multi-warn: mat-palette($mat-red, A700);

$app-meli-multi-theme: mat-light-theme((
  color: (
    primary: $app-meli-multi-primary,
    accent: $app-meli-multi-accent,
    warn: $app-meli-multi-warn
  )
));

@include angular-material-theme($app-meli-multi-theme);


$dark-primary: mat-palette($mat-gray, 300);
$dark-accent:  mat-palette($mat-yellow, A400);
$dark-warn:    mat-palette($mat-red, A700);

$dark-theme: mat-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
    warn: $dark-warn
  )
));

.ml-dark-theme {
  @include angular-material-color($dark-theme);
}

 */

 @import '~@angular/material/theming';

 @include mat-core();
 
 $my-meli-theme-background: (
   status-bar: map_get($mat-gray, 800),
   app-bar:    map_get($mat-grey, 800),
   background: map_get($mat-gray, 200),
   hover:      map_get($mat-gray, 200), 
   card:       map_get($mat-gray, 50),
   dialog:     map_get($mat-gray, 50),
   disabled-button: map_get($mat-gray, 700),
   raised-button: map-get($mat-gray, 800),
   focused-button: map_get($mat-gray, 400),
   selected-button: map_get($mat-gray, 900),
   selected-disabled-button: map_get($mat-gray, 800),
   disabled-button-toggle: map_get($mat-gray, 300),
   tooltip: map_get($mat-gray, 500),
   unselected-chip: map_get($mat-gray, 700),
   disabled-list-option: map_get($mat-gray, 300)
 );
 
 $my-meli-theme-foreground: (
   base:              map_get($mat-yellow, A400),
   divider:           map_get($mat-gray, 300),
   dividers:          map_get($mat-gray, 300),
   disabled:          map_get($mat-gray, 300),
   disabled-button:   map_get($mat-gray, 300),
   disabled-text:     map_get($mat-gray, 300),
   hint-text:         map_get($mat-gray, 700),
   secondary-text:    map_get($mat-gray, 800),
   icon:              map_get($mat-gray, 300),
   icons:             map_get($mat-gray, 300),
   text:              map_get($mat-gray, 900),
   slider-min:        map_get($mat-gray, 300),
   slider-off:        map_get($mat-gray, 300),
   slider-off-active: map_get($mat-gray, 300),
 );
 
 @function create-wonky-theme($primary, $accent, $warn: mat-palette($mat-red)) {
   @return (
     primary: $primary,
     accent: $accent,
     warn: $warn,
     is-dark: false,
     foreground: $my-meli-theme-foreground,
     background: $my-meli-theme-background,
   );
 }

$custom-theme-primary: mat-palette($mat-blue-grey, 500);
$custom-theme-accent: mat-palette($mat-yellow, A400);
$custom-theme-warn: mat-palette($mat-red);

$custom-theme: create-wonky-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);

@include angular-material-theme($custom-theme);


@font-face {
  font-family: "Grotesk regular";
  src: url("assets/hk-grotesk/HKGrotesk-Regular.otf");
}

$custom-typography: mat-typography-config(
  $font-family: 'Grotesk regular',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

@include angular-material-typography($custom-typography);
